[class*="col-"] {
  height: 300px;
  background-color: #ffc0cb;
}

/* RULES FOR THE SINGLE COL AND THE TEXT INSIDE */

.ciao {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  line-height: 300px;
}

/* FOOTER */

.container1 {
  height: 100%;
  background-color: #f07f80;
  /* margin: 1% 1% 1% 1%; */
}
