[class*="col-"] {
  height: 300px;
  background-color: #ffc0cb;
}

/* RULES FOR THE SINGLE COL AND THE TEXT INSIDE */

.ciao {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  line-height: 300px;
}

/* FOOTER */

.container1 {
  height: 100%;
  background-color: #f07f80;
  border: 2px solid white;
}

.col-2.hello {
  height: 100%;
}

.col-6 {
  padding: 10px 10px 10px 10px;
}

.hello {
  height: inherit;
  background-color: #f07f80;
  border-right: 2px solid white;
  font-weight: bold;
}

#hello1 {
  height: inherit;
  background-color: #f07f80;
  font-weight: bold;
}
